*.suo
*.user
*.ncb
src/Debug
src/Release
*.aps
*.htm
src/.vs
src/Backup
src/TTK_Communication_API/Release
src/TTK_Communication_API/Debug
src/TTK_Communication_API_Multi/Debug
src/TTK_Communication_API_Multi/Release